    <header>
    <h1><a href="./">LEBRON - The NBA conference Guessing Game 🏀</a></h1>
    <nav>
      <ul>
        <li><a href="/players">Browse Players</a></li>
        <li><a href="/conferences">Browse Conferences</a></li>
        <li><a href="/teams">Browse Teams</a></li>
        <li><a href="/positions">Browse Positions</a></li>
        <li><a href="/seasons">Browse Seasons</a></li>
        <li><a href="/season_players">Browse Season Players</a></li>
        <li><a href="/player_positions">Browse Player Positions</a></li>
      </ul>
    </nav>
  </header>