body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1 {
    color: #fff;
    font-size: 2em;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

li {
    margin: 10px 0;
}

a, button {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 15px 25px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    font-size: 1.4em; /* Increased font size */
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}


a:hover, button:hover {
    background-color: #0056b3;
}

button {
    display: inline-block;
    margin: 10px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1.2em;
}

td.correct {
    background-color: #28a745;
    color: #fff;
}

/* Styles for Form Pages */
.form-page {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.form-page .form-group {
    margin-bottom: 15px;
}

.form-page label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-page input[type="text"],
.form-page input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.form-page button,
.form-page a.button {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.form-page button:hover,
.form-page a.button:hover {
    background-color: #0056b3;
}

.form-page a.cancel {
    background-color: #6c757d;
}

.form-page a.cancel:hover {
    background-color: #5a6268;
}

/* Form controls */

#edit-form { display: none; }
#add-form { display: none; }
#edit-form.visible, #add-form.visible { display: block; }
