<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Conference</title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/LEBRON.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Edit Conference</h2>
      <form method="post" action="/conferences/update">
        <input
          type="hidden"
          name="conferenceID"
          value="<%= conference.conferenceID %>"
        />
        <fieldset>
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= conference.name %>"
            required
          />
        </fieldset>
        <input type="submit" value="Update Conference" />
      </form>
    </main>
  </body>
</html>
