<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NBA Quiz Game - Index</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="LEBRON.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <section>
        <h2>Welcome to LEBRON - The NBA Player Guessing Game!</h2>
        <br />
        <p>
          Test your knowledge of the NBA with our fun and challenging guessing
          game!
        </p>
        <br />
        <p>
          In this game, you will be given a series of hints about a mystery NBA
          player. Your <strong>goal</strong> is to guess the correct player based on these
          clues.
        </p>
        <br />
        <p>
          After each guess, you'll receive <strong>hints</strong> indicating whether the guessed
          player is in the same conference, has a similar jersey number, is of
          a comparable age, and more.
        </p>
        <br />
        <p>
          Use these hints to narrow down your guesses and find the <strong>myster player</strong>. 
          It's a great way to see how well you know the NBA and its players!
        </p>
      </section>
      <ul>
        <!-- <li><a class="button" href="players.html">Browse Players</a></li>
        <li>
          <a class="button" href="conferences.html">Browse Conferences</a>
        </li>
        <li><a class="button" href="teams.html">Browse Teams</a></li>
        <li><a class="button" href="positions.html">Browse Positions</a></li>
        <li><a class="button" href="seasons.html">Browse Seasons</a></li>
        <li>
          <a class="button" href="season_team_players.html"
            >Browse Season Players</a
          >
        </li>
        <li>
          <a class="button" href="player_positions.html"
            >Browse Player Positions</a
          >
        </li> -->
        <br />
        <a class="button" href="/quiz">Generate Quiz</a>
      </ul>
    </main>
  </body>
</html>
