<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Position</title>
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/LEBRON.css" />
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <h2>Edit Position</h2>
    <form method="post" action="/positions/update">  
      <input type="hidden" name="positionID" value="<%= position.positionID %>" />
      <fieldset>
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= position.name %>" />
      </fieldset>
      <input type="submit" value="Update Position" />
    </form>
  </main>
</body>
</html>